/* General Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Introduction Section */
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
}

.intro-text {
  flex: 1;
  max-width: 60%;
}

.intro-text h1 {
  font-size: 2.5em;
  color: #007BFF;
}

.intro-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}

.contact-btn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #0056b3;
}

.intro-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Tabs Section */
.tabs {
  position: fixed;
  top: 0;
  width: 110%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}

.tab-header {
  padding: 15px;
  cursor: pointer;
}

.tab-header:hover {
  background-color: #ddd;
}

.tab-header.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

/* Tab Content Styling */
.tab-content {
  margin-top: 60px; /* Adjust this value based on the height of your tab navigation */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    text-align: center;
  }

  

  .tabs {
    flex-direction: column;
    align-items: center;
  }

  .tab-header {
    margin-bottom: 10px;
    padding: 12px 25px;
  }

  .intro-text {
    max-width: 100%;
  }
}