<style>
/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #e9ecef;
  margin: 0;
  padding: 0;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intro-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.intro-text {
  max-width: 60%;
  font-family: 'Courier New', Courier, monospace;
}

.intro-text h1 {
  font-size: 2.5em;
  color: #17a2b8;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.intro-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  animation: fadeIn 1.5s ease-in-out;
}

.contact-button {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: #138496;
  transform: scale(1.05);
}

.intro-image img {
  object-fit: cover;
  object-position: top;
  border-radius: 200%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
  margin-top: 0px;
  margin-left: 200px; /* Move the image to the left */
  width: 290px;
  height: 390px;
}

.contact-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2.5s ease-in-out;
}

.contact-info h2 {
  font-size: 1.5em;
  color: #17a2b8;
}

.contact-info p {
  font-size: 1.1em;
  color: #555;
}

.contact-info a {
  color: #17a2b8;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: block;
}

/* Keyframes for Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    text-align: center;
  }

  .intro-image {
    padding-bottom:  200px;
  }

  .intro-text {
    max-width: 140%;
  }
}
</style>

<!-- Introduction Section -->
<div class="intro-section">
  <div class="intro-text">
    <h1>Welcome to My Data Science Portfolio!</h1>
    <p>
      Hi, I'm Kyle Kaufman, a creative and enthusiastic Data Scientist with over 4 years of professional experience working at the intersection of data, AI, and cloud technologies. 
      My expertise spans both public and private sectors, where I have used cutting-edge technologies to drive impactful solutions for large enterprises. 
      Passionate about leveraging machine learning and AI, I aim to help organizations unlock the full potential of their data to make a lasting impact on the world.
      I currently live in Reston, Virginia.
    </p>
    <button class="contact-button" (click)="openModal()">Get in Touch</button>
  </div>
  <div class="intro-image">
    <img src="/IMG_1512.jpg" alt="Profile Picture" />
  </div>
</div>
  
<!-- Skills Section -->

<!-- Contact Information Section -->
<div class="contact-info" style="flex: 1; font-family: Arial, sans-serif;">
  <!-- Contact Information Section -->
  <h2 style="font-size: 2em; color: #17a2b8; margin-bottom: 20px;">Key Skills</h2>
  
  <!-- General Technical Skills Section -->
  <div style="margin-bottom: 40px;">
    <h3 style="font-size: 1.6em; color: #333; margin-bottom: 10px;">General Technical Skills</h3>
    <div style="display: flex; flex-wrap: wrap; gap: 20px; font-size: 1.1em; color: #555;">
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
        <b>Machine Learning:</b>  Random Forest, SVM, KNN, ARIMA
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         <b>Data Analytics: </b>Python, SQL, PySpark, Git, R, Stata, DataRobot API
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
        <b> Data Visualization:</b> Qlik Sense, Tableau, Pandas
      </div>
      
    </div>
  </div>
  
  <!-- Cloud Platforms Section -->
  <div style="margin-bottom: 40px;">
    <h3 style="font-size: 1.6em; color: #333; margin-bottom: 10px;">Cloud Platforms</h3>
    <div style="display: flex; flex-wrap: wrap; gap: 20px; font-size: 1.1em; color: #555;">
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         Google Cloud Platform (GCP)
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         Amazon Web Services (AWS)
      </div>
    </div>
  </div>
  
  <!-- Data Engineering Tools & Technologies Section -->
  <div style="margin-bottom: 40px;">
    <h3 style="font-size: 1.6em; color: #333; margin-bottom: 10px;">Data Engineering Tools & Warehouses</h3>
    <div style="display: flex; flex-wrap: wrap; gap: 20px; font-size: 1.1em; color: #555;">
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         Databricks
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         Informatica
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         Apache Spark
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         Delta Lake
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
         ETL
      </div>
      <div style="flex: 1 1 45%; background-color: #f8f8f8; padding: 15px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
        Docker
      </div>
    </div>
  </div>

  
</div>

<div class="contact-info" style="flex: 1;">
  <h2 style="font-size: 1.8em; color: #17a2b8;">Contact Information</h2>
  <p style="font-size: 1.2em; color: #555;">Email: <a href="mailto:kkaufma72@gmail.com">kkaufma72&#64;gmail.com</a></p>
  <p style="font-size: 1.2em; color: #555;">Phone: <a href="tel:+17349455898">734-945-5898</a></p>
  <p style="font-size: 1.2em; color: #555;">GitHub: <a href="https://github.com/kkaufma72" target="_blank">kkaufma72&#64;github.com</a></p>
</div>

<!-- Modal Section -->
<div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Contact Me</h2>
    <form>
      <textarea id="message" name="message" rows="4" cols="50" placeholder="Your message..."></textarea>
      <br> <br>
      <button type="submit" class="contact-button">Send</button>
      <br>
    </form>
  </div>
</div>

