<!-- Tab Navigation -->
<div class="tabs">
  <div 
    *ngFor="let tab of tabs; let i = index" 
    class="tab-header" 
    [class.active]="selectedTabIndex === i"
    (click)="selectTab(i)">
    {{ tab.title }}
  </div>
</div>

<!-- Tab Content -->
<div class="tab-content">
  <div *ngIf="selectedTabIndex === 0"> <!-- Content for Tab 1 -->
    <app-about></app-about>
  </div>
  <div *ngIf="selectedTabIndex === 1"> <!-- Content for Tab 2 -->
    <app-projects></app-projects>
  </div>
  <div *ngIf="selectedTabIndex === 2"> <!-- Content for Tab 3 -->
    <app-experience></app-experience>
  </div>
</div>